
* {
  font-family: 'Liberation Sans', liberation-sans, Arial, sans-serif;
}

html {
  width: 100vw;
}

body {
  background-color: #eae1c8;
  max-width: 1250px;
  margin: auto;
  padding-left: 12px;
  padding-right: 20px;
  margin-top: 50px;
}

pre {
  font-family: monospace;
}

.header {
  margin-left: 10px;
  margin-bottom: 20px;
}

#header_right {
  float: right;
  margin-right: 16px;
  position: relative;
}

#about_header {
  font-size: 14px;
}

#tag_header {
  font-size: 14px;
  padding-right: 1.5em;
}

#world {
  display: block-inline;  
  margin-bottom: -7px;
}

#top_header {
    font-size: 50px;
    margin-bottom: -3px;
}

#bottom_header {
    font-size: 15px;
    font-weight: 500;
}


#path {
  margin-left: 2px;
}

.head_rule {
  margin-top: 20px;
  margin-bottom: 13px;
}
.body_rule {
  color: #cccccc;
  width: 99.2%;
  margin-top: 0px;
  margin-bottom: 10px;
}

.site {
  margin-bottom: 11px;
  display: table;
  width: 100%;
}

.title {
  padding-left: 10px;
  width: 29%;
  display: table-cell;
  vertical-align: middle;
  height: 21px;
}
.description {
  width: 30%;
  display: table-cell;
  font-size: 14px;
  vertical-align: middle;
}
.uploader{
  width: 13%;
  display: table-cell;
  font-size: 14px;
  vertical-align: middle;
  padding-left: 20px;
  padding-right: 7px;
  text-align: right;
}
.tags {
  padding-left: 40px;
  width: 20%;
  display: table-cell;
  font-size: 14px;
  vertical-align: middle;
}
a {
  color: blue;
  text-decoration: none;
}
a:visited{
  color: blue;
}

.title a {
  color: black;
  text-decoration: underline;
}
.title a:visited {
  color: black;
}

#return_link {
  margin-top: 30px;
}

#tag_list {
  margin-top: 20px;
  margin-bottom: 40px;
}

.tag {
  width: 15%;
  padding-left: 1%;
  display: inline-block;
  vertical-align: top;
  margin-top: 7px;
}

.left_tag {
  padding-right: 4%;
}

#about {
  align: center;
  margin-top: 35px;
  margin-left: 14px;
  width: 51%;
  font-size: 15px;
}

#curators {
  margin-top: 60px;
}

#curators_list {
  margin-bottom: 57px;
}

#happy_trails {
  padding-top: 15px;
}
